@font-face{
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
    src: url("../../assets/fonts/additional-fonts/AvenirNextLTPro.ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
    src: url("../../assets/fonts/additional-fonts/AvenirNextLTProBold.ttf");
    font-weight: 700;
}