$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;

$brainflix-darkblack: black; 
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
