@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.video-tile {
    display:flex;
    padding: 0.5rem 0;
    justify-content: space-between;

    &__thumbnail{
        height: 4rem;
        width: 6.5rem;
        object-fit: cover;
        border-radius: .25rem;
    }

    &__text{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        height: 4rem;

        @include tablet{
            padding: 0.2rem 0;
            width: 55%;
        }
    }
    &__desc{
        font-size:0.82rem;
        text-align: left;
        &--bold{
            font-weight:600;
        }
    }
}
