@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

a{
    text-decoration: none;
    color: black;
}
.video-tile {
    display:flex;
    padding: 0.5rem 0;
    justify-content: space-between;
    width: 18rem;
    @include tablet{
        padding: 0.75rem 0;
        width: 17.5rem;
    }
    @include desktop{
        width: 16rem;
    }
    &__thumbnail{
        height: 4rem;
        width: 6.5rem;
        object-fit: cover;
        border-radius: .25rem;
    }
    &__text{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        height: 4rem;
        @include tablet{
            padding: 0.2rem 0;
            width: 10rem;
        }
        @include desktop{
            width:9rem;
        }
    }
    &__desc{
        font-size:0.82rem;
        text-align: left;
        &--bold{
            font-weight:600;
        }
        @include desktop{
            font-size: 0.7rem;
        }
    }
}
