@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.description{
    padding: 0 1rem;
    @include tablet{
        padding: 0 2.25rem;
    }
    @include desktop{
        padding: 0;
    }
    &__title{
        font-size: 1.4rem;
        font-weight: 600;
        text-align: left;
        padding: 1rem 0;
        border-bottom: solid $mercury 1px;
        line-height: 2rem;
        @include tablet{
            border:none;
            padding: 0;
            padding-top:2rem;
            font-size:2rem;
        }
        @include desktop{
            font-size: 1.6rem;
            padding-top:1.5rem;
        }
    }
    &__details{
        padding: 1.25rem 0;
        display: flex;
        border-bottom: solid $mercury 1px;
        @include tablet{
            justify-content: space-between;
            padding-top: 1.5rem;
            padding-bottom: 0.75rem;
        }
        @include desktop{
            font-size: 0.8rem;
            padding-top: 1rem;
            padding-right: 1rem;
        }
    }
    &__container{
        height: 3.5rem;
        width:50%;
        text-align: left;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet{
            flex-direction: row;
            width: 32.5%;
            height: 1rem;
        }
    }
    &__info{
        display:flex;
        align-items: center;
    }
    &__info-text{
        color: $silver;
        &--bold{
            color: black;
                font-weight:600;
        }
    }
    &__icon{
        padding: 0 0.5rem;
        height: 1.1rem;
        @include desktop{
            height: 1rem;
        }
    }
    &__video{
        padding: 1.5rem 0;
        text-align:left;
        font-size: 0.80rem;
        line-height: 1.2rem;
        @include tablet{
            font-size: 0.9rem;
            line-height: 1.4rem;
        }
        @include desktop{
            padding-right: 1rem;
            font-size: 0.74rem;
        }
    }
}