@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.display{
    display: flex;
    justify-content: center;
    background-color: $brainflix-darkblack;
    &__curr-video{
        width:100%;
        @include tablet{
            width: 90vw;
        }
        @include desktop{
            width: 71vw;
        }
    }
}
