@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.comments{
    padding: 1rem 1rem;
    @include tablet{
        padding: 1rem 2.25rem;
    }
    @include desktop{
        padding: 1rem 0;
        padding-right: 1rem;
    }
    &__counter{
        text-align: left;
        padding-bottom: 1rem;
        font-weight:600;
        @include desktop{
            font-size: 0.8rem;
        }
    }
    &__create{
        display:flex;
        justify-content: space-between;
    }
    &__images {
        margin: 1.5rem 0;
        @include tablet{
            margin: 1.8rem 0;
        }
    }
    &__profile-pic {
        width: 2.375rem;
        height: 2.375rem;
        border-radius:50%;
        object-fit: cover;
        @include tablet{
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__form{
        width: 80%;
        @include tablet{
            width: 90%;
        }
    }
    &__display{
        border-top: 0.0625rem solid $mercury;
    }
}

.form-inputs{
    &__item{
        padding:0.5rem 0;
        @include tablet{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__label{
        color: $silver;
        font-size: 0.8rem;
        padding-bottom: .25rem;
        text-align: left;
    }

    .comment{
        width:100%;
        height: 6rem;
        padding: .75rem;
        border-radius: .25rem;
        border: .0625rem solid $mercury;
        &--active{
            border: 2px solid $brainflix-blue;
        }
        @include tablet {
            padding: 0.7rem 1rem;
            width: 25rem;
            height: 2.5rem;
         }
        @include desktop{
            width: 21rem;
        } 
    }
    textarea{
        resize:none;
    }
    input[type="text"] {
        padding: .75rem;
        @include tablet {
            padding: 1rem;
         }
      }
      ::placeholder{
        font-family: Avenir;
        color:black;
      }
    &__button-container{
        @include tablet{
            padding-top: 0.8rem;
        }
    }  
    &__button{
        background-color: $brainflix-blue;
        color:white;
        height: 2.5rem;
        width: 100%;
        border-radius: .25rem;
        font-weight:600;
        margin: 0.5rem 0;
        border:none;
        position:relative;
        &:hover{
            background-color:$brainflix-darkblue; //this not working, gotta fix
        }
        @include tablet{
            width: 12rem;
        }
        @include desktop{
            width: 12em;
            height: 2.5rem;
        }
    }
    &__icon{
        position:absolute;
        left: 0.5rem;
        top: 0.7rem;
        width: 1.25rem;
    }
}