@use './styles/partials/global' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/mixins' as *;

.app {
  &__content{
    @include desktop{
      display:flex;
      padding: 0 5rem;
    }   
  }

  &__content-left{
    @include desktop{
      width: 49rem;
      margin-right: 1rem;
      border-right: 1px solid $mercury;
    }
  }  
}